.form-control{
    background-color: darkblue;
    box-shadow: 0 2px 8px rgba(21, 21, 21, 0.26);
    border-radius: 10px;
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .form-control input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0.15rem;
    margin-bottom: 0.8rem;
  }
  
  .form-control input:focus {
    outline: none;
    border-color: cadetblue;
  }